body {
    font-family: 'Roboto', sans-serif;
    background-image: url("background4");
    color: white;
    margin: 0px;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px ##1a1a1a;
}

ul {
    list-style: none;
}


.master {
    width: 50%;
    height:;
    margin-left: 25%;
    margin-top: 10%;
    position: relative;
}


.background {
    background-color: black;
    opacity: 0.8;    
}

.content {
    
}

.top {
    height: 32px;
    background-color: black;
    opacity: 0.8;
    padding-top: 8px;
    padding-left: 16px;
}

h3 {
    padding-left: 8px;
}

h2 {
    padding-left: 8px;
}





