body {
    font-family: 'Roboto', sans-serif;
    background-image: url("background5");
    color: white;
    margin: 0px;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}


.master {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 10%;
    position: relative;
    
}


.background {
    background-color: black;
    opacity: 0.8;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
    
}

.content {
    
}





