body {
    font-family: 'Roboto', sans-serif;
    background-image: url("background.png");
    color: white;
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}


.master {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 10%;
}


.background {
    background-color: black;
    opacity: 0.8;
}

.content {
    
}





